@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Sibeesh Venu</h1>
    <p class="lead">Welcome to Sibeesh Passion's Azure Media Service Library</p>
    <p><a href="http://sibeeshpassion.com" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
